<IfModule mod_headers.c>
    Header set Accesss-Control-Allow-Origin "*"
    Header set Accesss-Control-Allow-Methods "GET, POST, OPTIONS"
    Header set Accesss-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>